{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row divider green">
	<div class="col-md-12"></div>
</div>

<div class="row banner menu">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>{{ restaurant.name }}
		<figure class="creator">
			<img src="{{ url_for('static', filename='blank_user.gif') }}">
		</figure>
		</h1>
	</div>
</div>

<br/><br/>
<form action='{{url_for('addReview', restaurant_id=restaurant.id)}}' method = 'POST'>
	<textarea rows="4" cols="125" name = 'review'> Review goes here </textarea><br/>
	<input type='submit' value='Submit'>
</form>

{% endblock %}